@import url('https://fonts.googleapis.com/css2?family=Abril+Fatface&family=Anton&family=DM+Sans&family=Fira+Sans&family=Raleway:wght@400;700&display=swap');
* {
    padding: 0;
    margin: 0;
  }

  

  nav{
    background: #d3eee1;
    height: 150px;
    width: 100%;
    padding: 0 8%;
    display: flex;
    justify-content: center;
    align-items: center;
}


.nav{
    justify-content: center;
    line-height: 0.01;
    margin-right: 300px;
}

.foto{
    width: 120px;
    height: 120px;
    border-radius: 50%;
    align-items: center;
    margin-right: 20px;
    box-shadow: #545454;
    border: 3px solid #545454;
}
.nome{     
    font-family: 'Raleway', sans-serif;
    color: #545454;
    font-size: 50px;
    font-weight: bolder;
  
}
.profissao{
    color: #545454;
    font-size: 25px;
    font-family: 'Raleway', sans-serif;
    font-weight: bolder;
    margin-top: 33px;

}
  .flex-container {
    box-sizing: border-box;
    padding: 45px;
    background-color: white;
    color: #545454;
    min-height: 100vh;
    display: flex;
    gap: 100px;
    flex-flow: row nowrap;
    justify-content: center;
    align-content: center;
    margin-left: 40px;
    margin-right: 40px;
}

.flex-container h1{  
  font-family: 'Raleway', sans-serif;
  font-size: 25px;
  width: 100%;
  background-color: #d3eee1;
}
   
  
  .flex-item {
    background-color: white;
    flex: 1 1 150px ;
    height: 100%;
    width: 50%;
    font-family: 'Raleway', sans-serif;
  }

  ul{
    list-style: none;
}
  
ul li::before {
    content: "\2022";  
    color: #545454; 
    display: inline-block; 
    width: 20px;
    margin-left: -0.1em;
}

.info{
  display: flex;
  margin-bottom: 5px;
  justify-content: space-between;
}

.info span{
  font-weight: 500;
  font-size: 18px;
}

.bars{
  margin-bottom: 15px;
}

.linha1{
  height: 5px;
  width: 100%;
  position: relative;
  background: #d3eee1;
}

.linha1::before{
  content: "";
  position: absolute;
  height: 100%;
  left: 0;
  top: 0;
  background: #545454;
  width: 80%;
}

.linha2{
  height: 5px;
  width: 100%;
  position: relative;
  background: #d3eee1;
}

.linha2::before{
  content: "";
  position: absolute;
  height: 100%;
  left: 0;
  top: 0;
  background: #545454;
  width: 50%;
}

.linha3{
  height: 5px;
  width: 100%;
  position: relative;
  background: #d3eee1;
}

.linha3::before{
  content: "";
  position: absolute;
  height: 100%;
  left: 0;
  top: 0;
  background: #545454;
  width: 20%;
}

.linha4{
  height: 5px;
  width: 100%;
  position: relative;
  background: #d3eee1;
}

.linha4::before{
  content: "";
  position: absolute;
  height: 100%;
  left: 0;
  top: 0;
  background: #545454;
  width: 50%;
}

.linha5{
  height: 5px;
  width: 100%;
  position: relative;
  background: #d3eee1;
}

.linha5::before{
  content: "";
  position: absolute;
  height: 100%;
  left: 0;
  top: 0;
  background: #545454;
  width: 9%;
}

.links-redes h4{
  font-size: 18px;
  color: black;
  text-transform: capitalize;
  margin-bottom: 35px;
  font-weight: 500;
  position: relative;
}

.links-redes h4::before{
  content: '';
  position: absolute;
  left: 0;
  bottom: -10px;
  background-color: black;
  height: 2px;
  box-sizing: border-box;
  width: 50px;
}

.links-redes ul li a {
  font-size: 16px;
  text-transform: capitalize;
  color:  #d3eee1;
  text-decoration: none;
  font-weight: 300;
  color: #545454;
  display: block;
  transition: all 0.3s ease;
}

.links-redes .contatos a{
  display: inline-block;
  height: 40px;
  width: 40px;
  color: rgba(3, 106, 129, 0.6);
  margin: 0 10px 10px 0;
  text-align: center;
  line-height: 40px;
  border-radius: 50%;
  background-color: #d3eee1;
  color: #545454;
  transition: all 0.5s ease;
  border: 3px solid #545454;
}

