@import url('https://fonts.googleapis.com/css2?family=Abril+Fatface&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Abril+Fatface&family=DM+Sans&display=swap');
           
        nav{
            background: #d9d9d9;
            height: 200px;
            width: 100%;
            padding: 0 8%;
            display: flex;
            justify-content: center;
            align-items: center;
        }


        .nav{
            justify-content: center;
            line-height: 0.01;
            margin-right: 150px;
        }
        
        .foto{
            width: 150px;
            height: 150px;
            border-radius: 50%;
            align-items: center;
            margin-right: 20px;
            box-shadow: #545454;
        }
        .nome{     
            font-family: 'Abril Fatface', cursive;
            color: #545454;
            font-size: 50px;
            font-weight: 200;
          
        }
        .profissao{
            color: #545454;
            font-size: 25px;
            font-family: 'DM Sans', sans-serif;
            font-weight: 200;

        }

        .sobre  {
            margin: 0 35% 0 35%;
            width: 80%;
    
        }

        .item{
            float: left;
            width: 50%;
            text-align: justify;
        }

        .row:after {
            content: "";
            display: table;
            clear: both;
          }
